/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #F4F4F4; 
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.viewmode {
   border: none;
}

.content-divs {
  float: left;
}

.divs {
  clear: none;
  display: inline-block;
}

.name-div {
  display: inline-block;
  background-color: red;
}

 .topbar-div {
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  margin: 0px 20px 0px 20px;
  background-color:  white;
} 

#units-div {
  display: inline-block;
  border-style: dashed;
  background-color: green;
  width: 500px
}

.properties-divs {
  width: calc(50% - 32px);
  display: inline-block;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  margin: 20px 20px 20px 20px;
  background-color:  white;
}

.image-div {
  width: calc(50% - 32px);
  display: inline-block;
  margin: 20px;
  background-color:  white;
  margin: 20px 20px 20px 0px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
}

.costs-divs {
  width: calc(50% - 32px);
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  margin: 0px 20px 0px 20px;
  background-color:  white;
}

.home-page-divs {
  width: 200px;
  height: 100px;
  padding: 50px;
  margin-right: 50px;
  margin-left: 50px;
  display: inline-block;
  border: 1px solid #B4B725;
  border-radius: 10px;
  background-color:  white;
}

.header {
  background-color: #B4B725;
  text-align: left;
  padding-left: 50px;

  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
}

.footer {
  width: 100%;
  height: 60px;
  padding-left: 50px;
  background: #A2A521;
}

.inner {
  width: 50%;
  align-content: stretch;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 50px 20px 50px;
}

.overview-content {
   border: 1px solid #C4C4C4; 
   border-radius: 4px;
   background-color:  white;
   margin: 20px 50px 20px 50px;
}

.heading-text {
  position: absolute;
  /* width: 319px; */
  /* height: 42px; */
  /* left: 210px; */
  /* top: 29px; */

  /* Header 1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.footer-text {
  position: absolute;

  /* Text regular */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.title-bar {
  display: inline-block;
  width: 100%
}

.title-label {
  width: 50%;
  float: left;
  text-align: left;
}

.title-buttons {
  width: 50%;
  float: right;
}

.filters {
  border: solid #A2A521;
  height: 75px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;

}

.filters-div {
  height: 50px;
}

#multiSelect_overview {
  width: 30%;
  float: left
}

.sort-div {
  float: left;
  width: 100%
}

table { border-collapse:collapse; width:calc(100% - 20px); padding: 10px; margin: 10px}
table tbody td { border-bottom: 1px solid #000; text-align: left;}
table thead th { border-bottom: 1px solid #000; text-align: left;}