/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*/

@keyframes heading-text {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #F4F4F4;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.viewmode {
  border: none;
}

.content-divs {
  float: left;
}

.divs {
  clear: none;
  display: inline-block;
}

.name-div {
  display: inline-block;
  background-color: red;
}

.topbar-div {
  @extend .border;
  margin: 0px 20px 0px 20px;
}

#units-div {
  display: inline-block;
  border-style: dashed;
  background-color: green;
  width: 500px
}

/* TODO: add precoressor */
.border {
  border: 1px solid #C4C4C4;
  background-color: white;
  border-radius: 8px;
}

.properties-divs {
  @extend .border;
  padding-bottom: 20px;
  margin: 20px 10px 20px 20px;
}

.image-div {
  @extend .border;
  margin: 20px 20px 20px 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .left {
  width: 100%;
  background-color:lightpink;
} */

.upload__image-wrapper {
  @extend .border;
  height: 92%;
  margin: 20px 20px 20px 10px;
}

.costs-divs {
  @extend .border;
  margin: 0px 10px 20px 20px;
}

.home-page-divs {
  width: 200px;
  height: 100px;
  padding: 50px;
  margin-right: 50px;
  margin-left: 50px;
  display: inline-block;
  border: 1px solid #B4B725;
  border-radius: 10px;
  background-color: white;
}

.header {
  background-color: #B4B725;
  text-align: left;
  padding-left: 50px;

  width: calc(100% - 50px);
  height: 100px;
  left: 0px;
  top: 0px;
}

.footer {
  width: calc(100% - 50px);
  height: 60px;
  padding-left: 50px;
  background: #A2A521;
}

.inner {
  width: 50%;
  align-content: stretch;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 50px 20px 50px;
}

.overview-content {
  @extend .border;
  margin: 20px 50px 20px 50px;
}

.general-font {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4F4F4D;
}

.properties-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #B4B725;
}

.properties-sub-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4D;
}


.heading-text {
  position: absolute;
  /* width: 319px; */
  /* height: 42px; */
  /* left: 210px; */
  /* top: 29px; */
  animation: heading-text 5s;

  /* Header 1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.footer-text {
  position: absolute;

  /* Text regular */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.title-bar {
  display: inline-block;
  width: 100%
}

.title-label {
  width: 50%;
  float: left;
  text-align: left;
}

.title-buttons {
  width: 50%;
  float: right;
}

.filters {
  border: solid #A2A521;
  height: 75px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;

}

.filters-div {
  height: 50px;
}

#multiSelect_overview {
  width: 30%;
  float: left
}

.sort-div {
  float: left;
  width: 100%
}

table { border-collapse:collapse; width:calc(100% - 20px); padding: 10px; margin: 10px}
table tbody td { border-bottom: 1px solid #000; text-align: left;}
table thead th { border-bottom: 1px solid #000; text-align: left;}
